input {
  padding: 0;
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
}

input::placeholder {
  color: #9ca3af;
  opacity: 1;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
input[type="search"] {
  appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
