@mixin tracking-tighter { letter-spacing: -0.05em; }

@mixin tracking-tight { letter-spacing: -0.025em; }

@mixin tracking-normal { letter-spacing: 0; }

@mixin tracking-wide { letter-spacing: 0.025em; }

@mixin tracking-wider { letter-spacing: 0.05em; }

@mixin tracking-widest { letter-spacing: 0.1em; }
